<ul>
{% for item in include.menu %}
    {% if item.slug == "" %}
        {% assign slug=include.parent %}
    {% else %}
        {% capture slug %}{{ include.parent }}/{{ item.slug }}{% endcapture %}
    {% endif %}
    {% assign slugWithSlash = slug |append: "/" %}

    {% assign selected = false %}
    {% if item.sub or item.slug == "" %}
        {% if page.url == slugWithSlash %}
            {% assign selected = true %}
        {% endif %}
    {% else %}
        {% assign pageUrlPart = page.url |slice: 0, slugWithSlash.size %}
        {% if pageUrlPart == slugWithSlash %}
            {% assign selected = true %}
        {% endif %}
    {% endif %}

    <li class="{{ item.ref }}{% if selected %} selected{% endif %}"><a href="{{ slug }}">{{ item.title }}</a>
    {% if item.sub %}
    {% include menu.html menu=item.sub parent=slug %}
    {% endif %}
    </li>
{% endfor %}
</ul>
