.content {
    p.kicker {
        font-family: $brand-font-family;
        font-size: 120%;
        color: $c-brand-main;
    }

    a {
        color: $c-brand-main;
        text-decoration: none;

        &:hover {
            color: $text-color;
            text-decoration: underline;
        }
    }

    code {
        display: inline-block;
        background-color: lighten($c-ui-dark, 25%);
        padding: 0 4px;
        border-radius: 4px;
    }

    blockquote {
        padding: 10px;
        background: linear-gradient(90deg, #eee, #fff 50%);

        strong:first-child {
            font-size: 120%;
            color: $c-brand-main;
            display: block;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }


    @include medium-screen {
        p {
            width: 70%;
        }

        blockquote {
            float: right;
            font-size: 80%;
            width: 25%;
        }
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;

        th, td {
            padding: 2px 20px 2px 6px;
            border-width: 0;
            margin: 0;
        }

        th {
            text-align: left;
        }

        tbody {
            tr:nth-child(odd) {
                background-color: #eee;
            }
        }
    }
}
