.banner {
    padding: 3em;
    margin: 0;
    background-color: $c-brand-comp-light;
    background-image: linear-gradient(
        $c-brand-comp-light 0,
        $c-brand-comp-dark 100%);

    color: white;

    text-align: center;
    font-size: 12px;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        max-width: 50em;
        margin: 1em auto;
    }

    a {
        display: inline-block;
        border: 1px solid white;
        border-radius: 10em;
        padding: 0.8em 1.3em;
        color: white;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $c-brand-comp-dark;
            background-color: white;
        }
    }

    @include medium-screen {
        font-size: 14px;
    }
}

.header {
    padding: 10px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    a {
        text-decoration: none;
    }

    background-color: $c-brand-main;
    background: radial-gradient(
        circle at 50% 50%,
        $c-brand-main-orange,
        $c-brand-main-pink);

    .logo {
        float: left;
        color: white;

        img {
            float: left;
            width: 40px;
            height: auto;
            margin-right: 30px;
        }

        h1 {
            float: left;
            font-size: 20px;
            line-height: 0.85em;
            margin: 4% 0 0;

            .brand {
                display: block;
                font-weight: bold;
            }

            .tag {
                display: block;
                font-size: 60%;
            }
        }
    }

    @include medium-screen {
        .logo {
            img {
                margin-right: 50px;
            }

            h1 {
                font-size: 38px;
            }

            img {
                width: 80px;
            }
        }
    }

    .lang-select {
        float: right;
        padding: 0 20px;
        color: white;
        font-size: 10px;

        ul {
            margin: 0;
        }

        li {
            list-style-type: none;
            margin: 0 0 0 5px;
            float: right;
            font-size: 14px;

            a {
                color: white;
                font-weight: normal;

                &.sv:lang(sv) {
                    font-weight: bold;
                }

                &.en:lang(en) {
                    font-weight: bold;
                }
            }
        }
    }
}
