.banner {
    padding: 2em 1em;
    font-size: 80%;
    text-align: center;
    background: linear-gradient($c-ui-darker, darken($c-ui-darker, 20%));
    color: white;

    a {
        color: white;

        &:hover {
            color: $c-brand-main;
        }
    }
}

header {
    padding: 10px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    a {
        text-decoration: none;
    }

    background: radial-gradient(
        circle at 50% 50%,
        $c-brand-main-orange,
        $c-brand-main-pink);

    .logo {
        float: left;
        color: white;

        img {
            float: left;
            width: 40px;
            height: auto;
            margin-right: 30px;
        }

        h1 {
            float: left;
            font-size: 20px;
            line-height: 0.85em;
            margin: 4% 0 0;

            .brand {
                display: block;
                font-weight: bold;
            }

            .tag {
                display: block;
                font-size: 60%;
            }
        }
    }

    @include medium-screen {
        .logo {
            img {
                margin-right: 50px;
            }

            h1 {
                font-size: 38px;
            }

            img {
                width: 80px;
            }
        }
    }

    .lang-select {
        float: right;
        padding: 0 20px;
        color: white;
        font-size: 10px;

        ul {
            margin: 0;
        }

        li {
            list-style-type: none;
            margin: 0 0 0 5px;
            float: right;
            font-size: 14px;

            a {
                color: white;
                font-weight: normal;

                &.sv:lang(sv) {
                    font-weight: bold;
                }

                &.en:lang(en) {
                    font-weight: bold;
                }
            }
        }
    }
}
