.section-menu {
    text-align: center;
    background-color: #eee;
    padding: 5px;

    a {
        text-decoration: none;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
        list-style-type: none;

        a {
            color: $c-ui-darker;
            font-weight: normal;

            &:hover {
                color: $c-ui-dark;
                text-decoration: none;
            }
        }
    }
}

.main {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    padding-bottom: 80px;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .breadcrumbs {
        font-size: 90%;
        min-height: 20px;
        margin: 10px 0 20px;

        a {
            font-weight: normal;
            color: $c-ui-dark;
            transition: color 0.3s;
            text-decoration: none;

            &:hover {
                color: $c-ui-darker;
                text-decoration: none;
            }
        }
    }

    .toc-menu {
        & > ul {
            margin-left: 0;
        }

        li {
            list-style-type: none;
        }

        a {
            color: $c-ui-darker;
            font-weight: normal;
            transition: color 0.2s;
            text-decoration: none;

            &:hover {
                color: $c-brand-main-orange;
                text-decoration: none;
            }
        }
    }

    @include medium-screen {
        width: 94%;
        .toc-menu {
            margin-top: 70px;
            float: left;
            width: 30%;
            margin-right: 5%;
        }

        .content {
            float: left;
            width: 65%;
        }
    }

    @include large-screen {
        .toc-menu {
            width: 20%;
        }

        .content {
            width: 75%;
        }
    }
}

footer {
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    font-size: 80%;
    color: $c-ui-dark;

    .zf-logo {
        opacity: 0.3;
        width: 120px;
        height: auto;
    }

    a {
        color: inherit;

        &:hover {
            color: $c-ui-darker;
        }
    }
}
