.main {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;

    .toc-menu {
        & > ul {
            margin-left: 0;
        }

        li {
            list-style-type: none;
        }

        a {
            color: $c-ui-darker;
            font-weight: normal;
            transition: color 0.2s;

            &:hover {
                color: $c-brand-main-orange;
                text-decoration: none;
            }
        }
    }

    @include medium-screen {
        width: 94%;
        .toc-menu {
            margin-top: 70px;
            float: left;
            width: 30%;
            margin-right: 5%;
        }

        .content {
            float: left;
            width: 65%;
        }
    }

    @include large-screen {
        .toc-menu {
            width: 20%;
        }

        .content {
            width: 75%;
        }
    }
}
