<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
    
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    </head>
    <body>
        <header>
            <ul class="lang-select">
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
                <li>
                    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                </li>
            {% endfor %}
            </ul>
            {% assign posts=site.posts | where:"lang", page.lang %}
        </header>
        <div class="menu">
        {% assign menu=site.data.menu[page.lang] %}
        {% capture base %}/{{ page.lang }}{% endcapture %}
        {% include menu.html menu=menu parent=base %}
        <div class="page-content">
            {{ content }}
        </div>
    </body>
</html>
