<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
    
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    </head>
    <body>
        <header>
            <a href="/{{ page.lang }}"><img class="logo"
                src="/assets/img/logo-white.png" alt="Zetkin"></a>
            <div class="lang-select">
                {{ site.data.strings[page.lang].header.translations }}:
                <ul>
                {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </header>
        <div class="section-menu">
            {% assign menu=site.data.menu[page.lang].sections %}
            {% capture base %}/{{ page.lang }}{% endcapture %}
            {% include menu.html menu=menu parent=base %}
        </div>
        <div class="main">
            <div class="breadcrumbs">
                {% assign crumbs = page.url | remove:'/index.html' | split: '/' | slice: 1, 10 %}
                {% if crumbs.size > 1 %}
                {% assign crumbHref=page.lang | prepend: "/" | append: "/" %}
                <a href="{{ crumbHref }}">{{ site.data.strings[page.lang].breadcrumbs.home }}</a>
                {% for crumb in crumbs offset: 1 %}
                    {% assign crumbHref=crumb | prepend: crumbHref | append: "/" %}
                    {% if forloop.last %}
                        / {{ page.title }}
                    {% else %}
                        {% assign bcPage=site.pages | where: "ref", crumb | first %}
                        / <a href="{{ crumbHref }}">{{ bcPage.title }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <nav class="toc-menu">
                {% assign section=crumbs[1] %}
                {% assign menu=site.data.menu[page.lang][section] %}
                {% capture base %}/{{ page.lang }}/{{ section }}{% endcapture %}
                {% include menu.html menu=menu parent=base %}
            </nav>
            <div class="content">
                <h1>{{ page.title }}</h1>
                {% if page.kicker %}
                <p class="kicker">
                    {{ page.kicker }}
                </p>
                {% endif %}
                {{ content }}
            </div>
        </div>
        <script src="https://use.typekit.net/tqq3ylv.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </body>
</html>
